<div  class="sidenav-content">
    <md-card class="example-card" color="Accent" *ngIf="!name; else forminfo">
      <md-card-header>
        <md-card-title>Input your new recipe:</md-card-title>
      </md-card-header>
      <md-card-content>
        <form [formGroup]="rForm" class="example-form" (ngSubmit)="addPost(rForm.value)" >
 
          <table class="example-full-width" cellspacing="0">
            <tr>
              <td><md-input-container class="example-full-width">
                <input mdInput placeholder="Author (disabled)" disabled value="Author" formControlName="author">
              </md-input-container></td>
              <td>
                <md-input-container class="example-full-width">
                  <input mdInput placeholder="Recipe name" formControlName="name">
                  <md-error *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">
                    <div [hidden]="!rForm.controls['name'].errors.required">
                      Name is required
                    </div>
                    <div [hidden]="!rForm.controls['name'].errors.minlength">
                      Name must be at least 4 characters long.
                    </div>
                    <div [hidden]="!rForm.controls['name'].errors.maxlength">
                      Name cannot be more than 30 characters long.
                    </div>
                </md-error>
                  
                </md-input-container>
              </td>
              <td>
                <md-input-container class="example-full-width">
                  <input mdInput placeholder="email" formControlName="email" type="email">
                  <md-error *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">
                    <div [hidden]="!rForm.controls['email'].errors.required">
                      Name is required
                    </div>
                    <div [hidden]="!rForm.controls['email'].errors.minlength">
                      Name must be at least 4 characters long.
                    </div>
                    <div [hidden]="!rForm.controls['email'].errors.maxlength">
                      Name cannot be more than 30 characters long.
                    </div>
                    <div [hidden]="!rForm.controls['email'].errors.pattern">
                      Email not valid
                    </div>
                </md-error>
                  
                </md-input-container>
              </td>
            </tr>
            <tr>
              <section class="example-section">
                  <md-checkbox class="checkbox-margin" *ngFor="let ingridient of ingridients" [value]="ingridient.name" formControlName="ingridient" >{{ ingridient.name }}</md-checkbox>
                </section>
            </tr>
          </table>

          <p><md-input-container class="example-full-width">
              <textarea mdInput placeholder="Description" formControlName="description"></textarea>
            </md-input-container> <br>
            
            <md-input-container class="example-full-width">
              <textarea mdInput placeholder="Recipe" type="text" formControlName="recipe"></textarea>
            </md-input-container>
          </p>

          <table class="example-full-width" cellspacing="0"><tr>
            <td><md-input-container class="example-full-width">
              <input mdInput placeholder="Preparation (min)" type="number" formControlName="preparation">
            </md-input-container></td>
            <td><md-input-container class="example-full-width" >
              <input mdInput placeholder="Cook (min)" type="number" formControlName="cook">
            </md-input-container></td>
            <td><md-input-container class="example-full-width">
              <input mdInput placeholder="Ready in (min)" type="number" formControlName="readyIn">
            </md-input-container></td>
          </tr></table>
          <input class="btn btn-primary" type="submit" value="Submit Form" [disabled]="!rForm.valid">
        </form>
      </md-card-content>
    </md-card>
    <ng-template #forminfo>
      <md-card class="example-card" color="Accent" class="sidenav-content">
        <md-card-header>
          <md-card-title>Your new recipe:</md-card-title>
        </md-card-header>
        <md-card-content>
          <md-list-item>Author: {{author}} </md-list-item>
          <md-list-item>Recipe name: {{name}} </md-list-item>
          <md-list-item>Description: {{description}} </md-list-item>
          <md-list-item>Recipe: {{recipe}} </md-list-item>
          <md-list-item>Preparation: {{preparation}} </md-list-item>
          <md-list-item>Cook: {{cook}} </md-list-item>
          <md-list-item>Ready in: {{readyIn}} </md-list-item>
          <md-list-item>Items:{{ingridient}}</md-list-item>
        </md-card-content>
      </md-card>
    </ng-template>
  </div>

<!--form report -->
