<div  class="sidenav-content" *ngFor="let spaceDesc of spaceDescs; let i = index">
    <md-card class="example-card" color="Accent">
      <md-card-header>
        <img md-card-avatar src="{{ spaceDesc.img }}">
        <md-card-title>{{ spaceDesc.author }}</md-card-title>
        <md-card-subtitle>{{ spaceDesc.name }}</md-card-subtitle>
      </md-card-header>
      <img md-card-image src="{{ spaceDesc.img }}">
      <md-card-content>
        <md-tab-group>
          <md-tab label="Description">
            <div>
              <p>{{ spaceDesc.description }}</p>
              
            </div>
          </md-tab>
          <md-tab label="Ingridients">
              <md-list-item *ngFor="let number of spaceDesc.ingridients; let j = index" >{{j + 1}}: {{ spaceDesc.ingridients[j] }}</md-list-item>
          </md-tab>
          <md-tab label="Recipe">
              <md-list-item *ngFor="let number of spaceDesc.recipe; let j = index" >{{j + 1}}: {{ spaceDesc.recipe[j] }}</md-list-item>
          </md-tab>
          <md-tab label="Directions">
              <md-list-item>Preparation: {{ spaceDesc.preparation }}</md-list-item>
              <md-list-item>Cook: {{ spaceDesc.cook }}</md-list-item>
              <md-list-item>Ready in: {{ spaceDesc.readyIn }}</md-list-item>
          </md-tab>
        </md-tab-group>
      </md-card-content>
      <md-card-actions>
        <button md-button (click)="likeMe(i)">
          <i class="material-icons md-18" [class.red-color]="spaceDesc.liked == '1'">favorite</i>LIKE
        </button>
        <md-slide-toggle color="primary">Save</md-slide-toggle>
      </md-card-actions>
    </md-card>
  </div>