.spacer
{
    flex: 1 1 auto
}

button, md-button-toggle
{
    height: 75%;
}

md-toolbar
{
    position: fixed;
    z-index: 1;
}

md-sidenav-container
{
    top: 60px;
}
a
{
    text-decoration: none;
    clear: both;
    width: 100%; 
    cursor: pointer;
}

.sidenav {
  padding: 20px;
  width: 15%;
  min-width: 250px;
  max-width: 300px;
  border-color: black;
}

.sidenav .example-card {
    width: 100%;
}