<md-toolbar color="primary">
  <md-icon>restaurant</md-icon>
  <span role="Brand">Recept.ua</span>
  <span class="spacer"></span>
  
  <md-button-toggle class="btn" type="button" (click)="sidenav.toggle()">
    <md-icon>
      person
    </md-icon>
  </md-button-toggle>
  <button md-raised-button class="btn" color="primary" type="button" >
    <md-icon>
      close
    </md-icon>
  </button>
</md-toolbar>

<md-sidenav-container class="sidenav-container">
  <md-sidenav class="sidenav" #sidenav mode="over" opened="false">
    <div id="md-fixed">
      <md-card class="example-card" color="Accent">
        <md-card-header>
          <img md-card-avatar src="http://travisperkins.scene7.com/is/image/travisperkins/ready-to-fit-kitchen-Madison-Cream-IMG-Main?wid=710">
          <md-card-title>Shiba Inu</md-card-title>
          <md-card-subtitle>Dog Breed</md-card-subtitle>
        </md-card-header>
      </md-card>
      <a class="btn" md-button href="main">Main</a>
      <a class="btn" md-button href="#">Account</a>
      <a class="btn" md-button href="new-recipe">Recipies</a>
      <a class="btn" md-button href="#">Subsribes</a>
    </div>
  </md-sidenav>
  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>