/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html 
{
    height: 100%;
}
body
{
    min-width: 240px;
    max-width: 2000px;
    height: 100%;
}

.sidenav-content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 240px;
  margin: 10px;
}

.mat-card {
    width: 800px;
}

.red-color {
    color: red;
}
